.fancy-header {
    color: lightgrey;
    text-align: center;
}
.header {
    text-decoration: underline;
    color: darkorange;
}
body {
    background-image: url("/img/robot.hand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
}
li {
    list-style:none;
}
body {
    font-family: serif;
}
#plan {
    text-align:left;
    text-decoration: underline;
}
#price {
    text-align: center;
    text-decoration: underline;
}
#features {
    text-align: center;
    text-decoration: underline;
}
a:hover {
    color:black;
}
#first-p {
    text-align: center;
    text-decoration: underline;
    color: black;
}
