* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
#weatherCardsDiv {
    height: 50%; /* This will make the div take up half of the container's height */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 150px;

}

#map {
    height: 100%; /* This will make the div take up the other half of the container's height */
}

